*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.t{
    max-width: 1400px;
    margin: 0 auto;
}
/********* Header section **********/
.head-container{
    display: flex;
    gap: 20px;
    margin-bottom: 100px;
}
.head-img>img{
    width: 100%;
}
.head-img{
    position: relative;
}
.head-container>div{
    display: flex;
    align-items: center;
}
.head-text{
    font-size: 2rem;
    color: #575757;
}
.head-text>h3>span{
    color: #FBA24F;
}

/********* Part1 **********/

.part-1{
    display: flex;
    background-image: url(./images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}
.part1-img>img{
    width: 500px;
}
.part1-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 540px;
    height: 247px;
}
.part1-text>h2{
    margin-top: 100px;
    color: #707070;
    font-weight: 700;
}
.part1-text>p{
    color: #18191F;
    margin-left: 20px;
}
.btn{
    background-color: #FBA24F;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 20px;
    margin-right: 400px;
    cursor: pointer;
}
.my-recipies{
    width: 706px;
    text-align: center;
    margin: 0 auto;
}

.my-recipies>h2{
    color: #676767;
    margin-bottom: 20px;
}
.my-recipies>p{
    color: #252525;
    line-height: 1.25;
}
/********* Food Item **********/

.food-item{
    margin-top: 100px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.food>img{
    max-width: 400px;
    min-height: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.food>h2{
    color: #18191F;
    font-size: 1.25rem;
    font-weight: 900;
    margin-bottom: 10px;
}
.food>p{
    line-height: 2;
    color: #18191F;
}
.food{
    /* border: 1px solid rgba(48, 77, 156, 0.205); */
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.192);
    border-radius: 10px;
}

/************ socalmidia-followers **********/
.socalmidia-followers{
    display: flex;
    gap: 30px;
    justify-content: center;
    justify-content: space-around;
    margin-bottom: 100px;
}
.followers>h2{
    margin-bottom: 10px;
}

/* Footer Section */
.footer-container{
    background-color: #0B0D17;
    height: 250px;
}
/* .footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
.footer{
    display: flex;
    justify-content: center;
    text-align: center;
}
.footer-content>h2>span{
    color: #d66e19;
}
.footer-content>h2{
    color: #575757;
    margin-bottom: 37px;
    margin-top: 50px;
}
.footer-content>p{
    color: #d4cece;
}